@import-normalize;
@import 'navBar.css';
@import 'button.css';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

*,
*::before,
*::after {
  font-family: Gotham Rounded, sans-serif;
  box-sizing: border-box;
  color: #808080;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
