@import-normalize;
@import 'header.css';
@import 'button.css';
@import 'footer.css';
@import 'content.css';
@import 'logo.css';
@import 'contact.css';
@import 'about.css';
@import 'images.css';
@import 'landing-banner.css';

@font-face {
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
  font-family: Raleway;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

*,
*::before,
*::after {
  font-family: Raleway, sans-serif;
  box-sizing: border-box;
  color: #8592a6;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: hsl(200, 100%, 50%);
}

a:hover {
  text-decoration: none;
  color: hsl(200, 100%, 35%);
}

.align-left {
  align-self: flex-start;
}
