@import-normalize;
@import 'header.css';
@import 'button.css';
@import 'footer.css';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

*,
*::before,
*::after {
  font-family: Gotham Rounded, sans-serif;
  box-sizing: border-box;
  color: #8592a6;
}

body {
  padding: 0;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: #8592a6;
}
