.btn {
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: inherit;
  padding: 0.3rem 1rem;
  margin: 0.2rem;
  cursor: pointer;
}

.btn-blue {
  color: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 50%);
  border-radius: 1rem;
}

.btn-blue:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(200, 100%, 35%);
}

.btn-danger {
  color: hsl(0, 100%, 50%);
  border: 1px solid hsl(0, 100%, 50%);
  border-radius: 1rem;
}

.btn-danger:hover {
  background-color: hsl(0, 100%, 35%);
}

.btn-lemon {
  color: hsl(0, 0%, 100%);
  background-color: hsl(50, 100%, 50%);
  border: 1px solid hsl(50, 100%, 50%);
  border-radius: 1rem;
}

.btn-lemon:hover {
  color: hsl(50, 100%, 50%);
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(50, 100%, 50%);
}

.btn-black {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 1rem;
}

.btn-black:hover {
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 0%);
}

.nav-dropdown {
  color: hsl(200, 100%, 35%);
}

.dropdown-menu {
  right: 0;
  left: auto;
  border: 1px solid hsl(200, 100%, 50%);
}

.dropdown-divider {
  border-top: 1px solid hsl(200, 100%, 50%);
}

.dropdown-menu.show {
  margin-top: 1rem !important;
}

.btn-nav-blue {
  color: hsl(200, 100%, 50%);
}

.btn-nav-blue:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(200, 100%, 35%);
}

.btn-nav-black {
  color: hsl(200, 100%, 50%);
}

.btn-nav-black:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
}

.btn-nav-lemon {
  color: hsl(200, 100%, 50%);
}

.btn-nav-lemon:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(50, 100%, 45%);
}

.btn-nav-danger {
  color: hsl(200, 100%, 50%);
}

.btn-nav-danger:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 100%, 35%);
}
