.btn {
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: inherit;
  padding: 5px 20px;
  margin: 5px;
  cursor: pointer;
}

.btn-blue {
  color: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 50%);
  border-radius: 1em;
}

.btn-blue:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(200, 100%, 35%);
}
.btn-danger {
  color: hsl(0, 100%, 50%);
  border: 1px solid hsl(0, 100%, 50%);
  border-radius: 1em;
}

.btn-danger:hover {
  background-color: hsl(0, 100%, 35%);
}
