.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  width: 90vw;
}

.landing-banner {
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 100vw;
  padding: 5vh 0 5vh 0;
  background-color: #004db5;
}

.landing-banner *,
.landing-banner a:hover {
  color: #fff;
}

.selection-banner {
  display: flex;
  flex-direction: column;
  /* align-self: flex-start; */
  flex-shrink: 0;
  padding: 1rem;
  overflow: auto;
}

.content-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  max-width: 800px;
  flex-grow: 1;
  padding: 1rem;
  overflow: auto;
}

.feature-banner-component {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 800px;
  cursor: pointer;
}

.feature-banner {
  display: flex;
  flex-direction: column;
  padding: 5vh 0 5vh 0;
}

.feature-img-container {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  overflow: hidden;
}

.feature-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: justify;
  margin: 5vh;
  overflow: auto;
}
