.landing-banner {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 90vw;
  margin: 1rem;
}

.selection-banner {
  min-height: 50vh;
  flex-shrink: 0;
  background-color: rgb(211, 211, 211);
}

.content-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  flex-grow: 1;
  background-color: rgb(211, 191, 191);
}

.feature-banner {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  width: 75vw;
  margin: 1rem;
}

.feature-img {
  height: 200px;
  width: 200px;
  flex-shrink: 0;
  background-color: rgb(211, 191, 191);
}

.feature-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  flex-grow: 1;
  background-color: rgb(191, 211, 200);
}
