.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  width: 90vw;
  min-height: 10vh;
  padding: 1rem 0 1rem 0;
  border-top: 1px solid #dfdfdf;
}

.footer p {
  font-size: small;
}

.hire-me {
  cursor: pointer;
  color: hsl(0, 100%, 50%);
}

.linked-in-logo {
  cursor: pointer;
  width: 25px;
  align-self: flex-start;
}
