.project-name {
  cursor: pointer;
  padding-left: 1rem;
  font-size: 1rem;
  line-height: 1rem;
}

.project-name:hover {
  color: hsl(200, 100%, 35%);
  transition: all 0.5s;
  transform: scale(0.98);
}

.title-name {
  font-weight: bold;
}
