@font-face {
  src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
  font-family: Comfortaa;
}

.logo {
  cursor: pointer;
  font-family: Comfortaa, sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  color: #546677;
}
