@media only screen and (max-width: 600px) {
  .content {
    margin-top: 1rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .landing-banner,
  .feature-content {
    flex-direction: column;
  }

  .feature-content {
    margin-top: 1rem;
  }

  .feature-banner {
    flex-direction: column;
    margin-top: 1rem;
  }

  .selection-banner {
    max-height: 25vh;
    width: 90vw;
    flex-direction: row;
    flex-flow: row wrap;
    padding: 0;
  }

  .selection-title {
    text-align: center;
    flex: 0 0 100%;
    margin-top: 1rem;
  }

  .rps-header-text {
    font-size: xx-large;
  }

  .rps-main-text {
    font-size: large;
  }
}
