@media only screen and (max-width: 600px) {
  .content {
    margin-top: 1rem;
  }

  .navbar-home {
    width: 100vw;
    flex-direction: column;
    align-content: center;
  }

  .landing-banner,
  .feature-banner,
  .feature-content {
    flex-direction: column;
    max-height: 55vh;
  }

  .feature-content {
    height: 35vh;
    margin-top: 1rem;
  }

  .feature-banner {
    margin-top: 1rem;
  }

  .selection-banner {
    max-height: 25vh;
    width: 90vw;
    flex-direction: row;
    flex-flow: row wrap;
    padding: 0;
  }

  .selection-title {
    text-align: center;
    flex: 0 0 100%;
    margin-top: 1rem;
  }
}
