@font-face {
  src: url(../fonts/Family-Guy-Font.ttf);
  font-family: Family-Guy;
}

@font-face {
  src: url(../fonts/Rowdies-Bold.ttf);
  font-family: Rowdies;
}

.tick-tack-toe-page,
.tick-tack-toe-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tick-tack-toe-page {
  min-height: 60vh;
}

.tick-tack-toe-board {
  margin: 1rem;
}

.tile-row {
  display: flex;
}

.board-tile {
  margin: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid hsl(200, 100%, 50%);
}

.player-character-container {
  margin: auto;
}

.player-choice-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 600px;
  overflow: hidden;
}

.selected-img {
  height: 100px;
  max-height: 25vh;
  margin: 1rem;
}

.tick-tack-toe-logo {
  font-family: Family-Guy, sans-serif;
  text-align: center;
  font-size: 2.5rem;
  color: hsl(200, 100%, 35%);
}

.player-v-player {
  font-family: Rowdies, sans-serif;
  color: hsl(200, 100%, 35%);
  font-size: 1.5rem;
  margin: 1rem;
}

.main-ticktacktoe-text {
  font-family: Family-Guy, sans-serif;
  text-align: center;
  font-size: 1rem;
  color: hsl(0, 100%, 35%);
  margin: 5vw;
}
